* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: #272a37;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: aliceblue;
  padding-bottom: 5px;
}
form{
  width: 100%;
  max-width: 30rem;
}
label,
input,
button {
  display: inline-block;
}
input,
button {
  font: inherit;
  font-weight: 700;
}
input,
button {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s,
  box-shadow 0.3s;
}
input:hover,
input:focus,
button:hover,
button:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}
input,
textarea{
  outline: none;
}
label {
  margin: 0.5rem;
  color: aliceblue;
}
button {
  padding: 1rem;
}

button:hover,
button:focus {
  outline: none;
  background: #1c70d3;
}
button:disabled {
  cursor: not-allowed;
  background: #555b69;
}
p{
  color: #848684;
}

#encryptdiv,
#decryptdiv{
  background-color: #383d50;
  padding: 25px;
  border-radius: 25px;
}
fieldset {
  padding: 10px;
  border-radius: 10px;
}
legend{
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}
#message {
  width: 100%;
}
#prime1,
#prime2 {
  width: 75%;
  float: right;
}
textarea{
  background-color: #323644;
  border: none;
  color: aliceblue;
}
#btnprimes{
  float: right;
}
